.active-step-circle {
  background-color: hsl(206, 94%, 87%);
  color: hsl(243, 100%, 62%);
  border: none;
}

.error-message {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(354, 84%, 57%);
}

.selected-plan {
  border-color: hsl(243, 100%, 62%);
  background-color: #ebf4ff;
  transition: all 0.3s ease;
}

/* Tambahkan di file CSS Anda */
.label-active {
  border-color: hsl(243, 100%, 62%);
  background-color: #eef2ff;
}

#billingToggle:checked + label > span {
  transform: translateX(100%);
}

input:checked + label {
  background-color: hsl(213, 96%, 18%);
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-right {
  animation: slideRight 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 0.3s ease-in-out forwards;
}
.hidden {
  display: none;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

/* Animasi masuk (dari blur menjadi normal) */
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(2px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

/* Animasi keluar (dari normal menjadi blur) */
@keyframes blurOut {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(2px);
  }
}

.scale-in {
  animation: blurIn 0.5s ease-out forwards;
}

.scale-out {
  animation: blurOut 0.5s ease-out forwards;
}
@media (max-width: 768px) {
  .error-message {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.875rem;
    font-weight: 700;
    color: black;
  }
}